$appBorder: 1px solid rgba(238, 238, 238, 0.876);
$appBoxShadow: 0 1px 4px 0px rgba(0, 0, 255, 0.1);
$appShellBackgroundColor: hsl(240, 17%, 98%);
$appCardRadius: 5px;
$appHorizontalLine: 0.5px solid #eee;

// Media query size
$tabletSize: 768px;
$phoneSize: 425px;
