@import '../../styles/variables';

.matchday {
  padding: .5rem;
  margin: .5rem 0;
  border-radius: 2px;
  box-shadow: $appBoxShadow;
}

.match {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: $appBoxShadow;
  
  &__score {
    display: flex;
    justify-content: space-between;
  }

  &__team {
    margin-bottom: 1rem;
  }

  &__hr {
    border: .5px solid #eee;
  }

  &__status {
    padding: .5rem;
    color: white;
    border-radius: 5px;
    margin-top: 1rem;
    display: inline-block;
  }
}
