<div class="info">
  <h4 class="center-align">{{title}}</h4>
  <br>
  <img class="responsive-img info__img" src="{{image}}" alt="info"/>
  <br>
  <span class="grey-text text-darken-3 center-align">{{{message}}}<span><br>
  <br>
  <button
    id="btnAction" 
    class="blue z-depth-0 waves-effect waves-light btn"
    >
    {{actionText}}
  </button>
</div>