{{!-- Navigation --}}
<nav class="white z-depth-0 nav-component">
  <div class="nav-wrapper container">

    {{!-- Logo Text --}}
    <a href="#/" class="brand-logo black-text" id="logo">Serie A</a>

    {{!-- Menu Icon --}}
    <a href="#" style="font-size:2rem" class="sidenav-trigger black-text" data-target="mobile-nav">☰</a>
    
    {{!-- TopNav --}}
    <ul class="right hide-on-med-and-down">
      <li><a href="#/" class="black-text">Home</a></li>
      <li><a href="#/" class="black-text">Matches</a></li>
      <li><a href="#/" class="black-text">My Team</a></li>
    </ul>

    {{!-- Sidenav --}}
    <ul id="mobile-nav" class="sidenav">
      <li><a class="waves-effect" href="#/">Home</a></li>
      <li><a class="waves-effect" href="#/">Matches</a></li>
      <li><a class="waves-effect" href="#/">My Team</a></li>
    </ul>
  </div>
</nav>